html, body {
    height: 100%;
    margin: 0;
}

.w3-row-padding img {
    margin-bottom: 12px
}

.w3-sidebar {
    width: 120px;
    background: #222;
}

#main {
    margin-left: 120px
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#password-strength-container {
    width: 100%;
    max-width: 600px;
    height: 30px;
    margin-top: 20px;
    background-color: #f0f0f0; 
    border-radius: 5px;
    overflow: hidden; 
}


#strength-meter {
    height: 100%;
    width: 0%; 
    background-color: red; 
    transition: width 0.4s ease, background-color 0.4s ease; 
}

#strength-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}


