body {
    height: 100%;
    margin: 0;
    
}

/*Dark mode*/
#body {
    background-color: black;
}

p, li, header, label {
    color: white;
}

#mode-toggle {
    background-color: white !important;
}

.w3-sidebar {
    width: 120px;
    background: #262626;
}

.w3-bar-item:hover {
    background-color: black !important; 
}

body .fa {
    color: white;
}


/*light mode*/

#body.lightmode{
    background-color: #838383;
}

body.lightmode p, body.lightmode li, body.lightmode header, body.lightmode label {
    color: black;
}

body.lightmode #mode-toggle {
    background-color: black !important;
    color: white;
}

body.lightmode .w3-sidebar {
    width: 120px;
    background: #404040;
}

body.lightmode .w3-sidebar i {
    color: black;
}

body.lightmode .w3-bar-item:hover {
    background-color: #838383 !important;
}

body.lightmode .fa {
    color: black;
}



#main {
    margin-left: 120px;
}

.fa-home, .fa-user, .fa-eye, .fa-envelope {
    color: white; /* Blue color */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.centered-container-hori {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#password-strength-container {
    width: 100%;
    max-width: 600px;
    height: 30px;
    margin-top: 20px;
    background-color: #f0f0f0; 
    border-radius: 5px;
    overflow: hidden; 
}


#strength-meter {
    height: 100%;
    width: 0%; 
    background-color: red; 
    transition: width 0.4s ease, background-color 0.4s ease; 
}

#strength-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

#mode-toggle {
    position: fixed; 
    top: 43px; 
    right: 80px; 
    z-index: 1000; 

    height: 60px;
    width: 100px;
}